################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjEXEC/v16
/Built/Proj.exe
/Built/Proj.pdb
/Intermidiate/Proj.tlog
/Intermidiate/main.obj
/Intermidiate/mglApp.obj
/Intermidiate/mglCamera.obj
/Intermidiate/mglError.obj
/Intermidiate/mglMesh.obj
/Intermidiate/mglShader.obj
/Intermidiate/Proj.ilk
/Intermidiate/vc142.idb
/Intermidiate/vc142.pdb
/Intermidiate
/.vs/CartoonLand/v16
/assets/lightBall.mtl
/assets/ground.mtl
/assets/light2.mtl
/Assignment 5.pdf
/Assignment5.zip
